




<html>

        <body body style="background-color:powderblue;">
            <form action="/predict" method="post">
                Glucose                    :   <input type="text" name="Glucose" id="Glucose" placeholder="Enter Glucose Reading"><br><br>
                Blood Pressure             :   <input type="text" name="BloodPressure" id="BloodPressure" placeholder="Enter BloodPressure Reading"><br><br>
                Skin Thickness             :   <input type="text" name="SkinThickness" id="SkinThickness" placeholder="Enter SkinThickness Reading"><br><br>
                Insulin                    :   <input type="text" name="Insulin" id="Insulin" placeholder="Enter Insulin Reading"><br><br>
                BMI                        :   <input type="text" name="BMI" id="BMI" placeholder="Enter BMI Reading"><br><br>
                Diabetes Pedigree Function :   <input type="text" name="DiabetesPedigreeFunction" id="DiabetesPedigreeFunction" placeholder="Enter DiabetesPedigreeFunction Reading"><br><br>
                Age                        :   <input type="text" name="Age" id="Age" placeholder="Enter Age Reading"><br><br>
                <input type="submit" value="Predict"><br><br>
                
                

            </form>
        </body>

</html>


